.contacts {
  padding-top: 0;
  border: 1px solid var(--border-color);
}

.contacts__container {
  min-height: 147px;
  align-items: center;
  justify-content: space-between;
}

.contacts__text {
  font-size: 14px;
}


.form__input {
  outline: none;
  padding: 9px 24px;
  border-radius: 100px;
  border: 1px solid var(--dark-grey);
  line-height: 32px;
  font-size: 16px;
  margin-right: 20px;
  max-width: 270px;
  transition: background-color var(--timing) ease-in-out;
}

.form__input:invalid {
  outline: none;
  padding: 9px 24px;
  border-radius: 100px;
  border: 1px solid var(--red);
  line-height: 32px;
  font-size: 16px;
  margin-right: 20px;
  max-width: 270px;

}

.form__input:focus-visible {
  background-color: var(--light-grey);
}

.form__input:hover {
  background-color: var(--light-grey);
}


.form__btn {
  padding: 13px 30px;
  border: 2px solid var(--btn-color);
  max-width: 329px;
  color: var(--btn-color);
  transition: outline var(--timing) ease-in-out, background-color var(--timing) ease-in-out, color var(--timing) ease-in-out;
}

.btn-hidden {
  display: none;
}

.form__btn:focus-visible:not(:hover) {
  outline: 2px solid var(--border-focus-btn-color);
  outline-offset: 5px;
}


.form__btn:hover {
  outline: 3px solid var(--border-hover-btn-color);
}

.form__btn:active {
  background-color: var(--active-color);
  color: var(--white);
}


.contacts__link:not(:last-child) {
  margin-right: 12px;
}

.contacts__link {
  transition: opacity var(--timing) ease-in-out;
}

.contacts__link svg {
  height: 40px;
  width: 40px;
  fill: currentColor;
}

.contacts__link:focus-visible {
  outline: none;
  opacity: 0.5;
}

.contacts__link:hover {
  opacity: 0.5;
}

.contacts__link svg:active {
  border-radius: 100px;
  border: 1px solid var(--violet);
  transition: border var(--timing) ease-in-out;
}
